.about {
  height: 100%;
}

.about-text {
  z-index: 3;
  position: relative;
  background: rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  margin: auto;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 2px;
}
