html,
body {
  height: 100%;
}

.content {
  padding: 0;
  h1{
    padding: 20px;
  } .saved-places {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.container,
.view-container,
.mainn,
.app-container,
.map-canvas {
  height: 100%;
}

.angular-google-map-container {
  height: 100%; width: 100%; position: absolute; top: 0; left: 0;
}

.btn-find {
  width: 70%;
}

li {
  list-style: none;
}
