html,
body {
  height: 100%;
}

.content {
  margin-top: 80px;
  @media screen and (max-width: 767px) {
    .hidden-xs,
    .btn-search {
        display:none;
    }
  } .bucket-input {
    font-size: 1.5em;
    height: 34px;
  } #search {
    margin-top: 15px;
  }
  h1 {
    padding: 20px;
  } .saved-places {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  } .place-title {
    font-size: 1.5em;
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 767px) {
    .content {
        width:100%;
    }
}

.container,
.view-container,
.new,
.app-container{
  height: 100%;
  .map-canvas {
    height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
  }
}

.angular-google-map-container {
  height: 100%; width: 100%; position: absolute; top: 0; left: 0;
}

.btn-find {
  margin: 5px 0 0 1px;
  width: 100%;
}



li {
  list-style: none;
}
