<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 about-text">

  <h1>About Bucket</h1><br>

  <div class="text-left">

    <p>Ever see a post on social media or an article about a place that you would love to visit and then forgotten
      about that location when you went to book your next trip?</p><br>

    <p>Enter Bucket...</p><br>

    <p>Bucket is an easy way to save travel destinations and places that you would like to visit while on vacation.
      Just create a bucket, choose a destination, and start adding places you want to visit while you are on that trip!
      When you're done, save the map and it will be saved for you to refer to when you book your next trip.  Do this over
      and over again for as many destinations as you'd like!</p><br>

  </div>

  <a class="btn btn-primary" ng-href="#/new">Click here to get started</a>
  
</div>
