<div class="bucket" ng-app="angularTestApp" ng-controller="HomeCtrl">

  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
    <div class="intro">
      <i class="fa fa-plane fa-5x" aria-hidden="true"></i>
      <h1>Welcome to Bucket!</hi><br><br>
      <a class="btn btn-primary" ng-href="#/saved">BROWSE</a>
      <a class="btn btn-primary" ng-href="#/new">CREATE</a>
    </div>
  </div>

  <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
  </ui-gmap-google-map>

</div>
