<div class="bucket" ng-app="angularTestApp" ng-controller="HomeCtrl">


  <div class="container-flex text-center">
    <div class="conatiner-flex-top"></div>
      <div class="flex-item intro">
        <i class="fa fa-plane fa-5x" aria-hidden="true"></i>
        <h1>Welcome to Bucket!</hi><br><br>
        <a class="btn btn-primary" ng-href="#/about">ABOUT</a>
        <a class="btn btn-primary" ng-href="#/new">CREATE</a>
      </div>
    <div class="container-flex-bottom"></div>
  </div>


  <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
  </ui-gmap-google-map>

</div>
