<div ng-app="angularTestApp" ng-controller="MainCtrl">
  <div class="col-md-6">
    <h1>Seattle, WA</h1>


    <div id="search" ng-model="location"></div>
    <button class="btn btn-lg btn-primary" ng-click="findPlaces()">Find City</button>
    <p>{{location}}</p>

    <p>Coordinates: {{map.center.latitude}}, {{map.center.longitude}}</p>
    <p>{{map.zoom}}</p>
  </div>

  <script id="searchbox.tpl.html" type="text/ng-template">
    <input type="text" placeholder="Search">
  </script>

  <ui-gmap-google-map class="col-md-6" center="map.center" zoom="map.zoom" options="options">
    <ui-gmap-search-box parentdiv="'search'" template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
  </ui-gmap-google-map>

  <p>{{placesID}}</p>

  <p>{{placesFound.result.geometry.location.lat}}</p>
  <p>{{placesFound.result.geometry.location.lng}}</p>
  <p>{{placesFound.result.name}}</p>
  <p>{{placesFound.result.formatted_address}}</p>

  <ul>
    <li>{{placesFound.result.name}}</li>
  </ul>


</div>
