<div class="new" ng-app="angularTestApp" ng-controller="NewCtrl">

    <div class="col-xs-4 content">

      <h1 class="bucket-title">{{title}}</h1><br>
      <div class="title-search">
        <input class="bucket-input col-xs-8" placeholder="New Map Title" ng-model="title"></input>
        <button class="btn btn-primary pull-right col-xs-4" ng-click="saveMap()">Save Map</button>
      </div>

      <br>
      <br>

      <div id="search" ng-model="location"></div>
      <div class="text-center">
        <button class="btn btn-primary btn-find btn-search" ng-click="findPlaces(currentPlace)">Search for places to visit</button>
        <button class="btn btn-primary btn-find" ng-click="addPlaces(currentPlace)">Add to place bucket list</button>
      </div>
      <script id="searchbox.tpl.html" type="text/ng-template">
        <input class="bucket-input" type="text" placeholder="Search for places to visit" style="width: 100%;">
      </script>

        <hr>

        <h2 class="text-center">Saved Places</h2>
        <hr>


      <div class="saved-places text-center">
        <p ng-repeat="city in storage.savedCities">
          <a class="place-title" href="" ng-click="refocus(city.coords.latitude, city.coords.longitude)">{{city.name}}</a><br>
          <a target="_blank" href="{{city.url}}">more info</a> |
          <a ng-click="removePlace(city)" href="">delete</a>
        </p>
      </div>

    </div>


    <div class="col-xs-8 map-canvas hidden-xs">
      <div cass="map-container">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
          <ui-gmap-search-box parentdiv="'search'" template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
          <ui-gmap-marker idKey="1" coords="coords" events="searchbox.events"></ui-gmap-marker>
          <ui-gmap-marker ng-repeat="city in storage.savedCities" idKey='2' coords='city.coords'></ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>


</div>
